<!-- app/views/your_view.html.erb -->
<div data-controller="copy-url" class=" text-center p-4 bg-red-100 rounded-xl hover:cursor-pointer">
  <%= button_tag "Copy URL", data: { action: "copy-url#copy" } %>
</div>
